<div class="container mr-10">
  <h5>You entered:{{inputText}}</h5>
  <div>
    <li><a routerLink="/routelink">routerlink</a></li>
    <li><a routerLink="/users">users</a></li>
    <li><a routerLink="/user">user</a></li>
    <li><a routerLink="/static">Passing static data</a></li>
    <li><a routerLink="/react">Reactive forms</a></li>
    <li><a routerLink="/fire">firebase</a></li>
    <li><a routerLink="/htp">Http Request by service</a></li>
    <li><a routerLink="/deactive">Auth Deactive</a></li>
    <li><a routerLink="/res">Auth Resolve</a></li>
    <li><a routerLink="/sub">Subject</a></li>
  </div>
</div>
