<div>
<p>Angular router app</p>
  <router-outlet></router-outlet>
<div>
  <li><a routerLink="/route">router</a></li>
  <li><a routerLink="/routelink">routerlink</a></li>
  <li><a routerLink="/users">users</a></li>
  <li><a routerLink="/user">user</a></li>
  <li><a routerLink="/static">Passing static data</a></li>
  <li><a routerLink="/react">Reactive forms</a></li>
  <li><a routerLink="/fire">firebase</a></li>
  <li><a routerLink="/htp">Http Request by service</a></li>
  <li><a routerLink="/deactive">Auth Deactive</a></li>
  <button (click)="Login()">Click me for auth login</button>
  <button (click)="Logout()">Click me for auth-guard login</button>
</div>
</div>
