<div class="container">
  <div class="row">
    <div class= "col-xs-12">
      <h3>Angular Component</h3>
      <!-- <app-server></app-server> -->
      <router-outlet></router-outlet>
      <app-success></app-success>
      <app-counter #childView></app-counter>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="userName">
      <p>{{userName}}</p>
      <button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">Reset user</button>
      <button class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>
      <p *ngIf = "showSecret">Secret Password = secret</p>
     <div *ngFor = "let logItem of log"
     [ngStyle] = "{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
     [ngClass]="{'white-text' : logItem >= 5}"
     >{{ logItem }}
     </div>
     <p class="paragraph">paragraph for encapsulation</p>
     <p #highlight>This is DOM view child</p>
     <p #highlight>DOMViewChild view for first match and apply only on first element </p>
    </div>
    <button (click)="inc()">Increment</button><br><br>
    <h3>Counter {{child ?. counter}}</h3>
  </div>
  <app-cockpit>
    <h1>Head of ng-content</h1>
  </app-cockpit>
  <app-cockpit>
    <h1 #contentParagraph>Head of ng-content - 2</h1>
  </app-cockpit>
  <div>
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber">
    </app-odd>
     <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber" ></app-even>
     <br><br>
     <div class="container">
     <button [ngStyle]="{'font-size.px':20, 'mx':10, 'font-style':'italic', 'color':'red'}">ng Inline style</button>
     <button [ngStyle]="addStyle()">ng Method style</button><br><br>
     <p appBasicHighlight>Style me with basic directive</p>
     <p appBetterHighlight>Style me with better directive</p>
   </div>
   <app-javascript></app-javascript>
   <!-- <app-router></app-router> -->
   <app-angular></app-angular>
   <!-- <router-outlet></router-outlet> -->
  </div>
  <div *ngFor =  "let user of users">
    <div>{{user.name}}</div>
    <div>{{user.status}}</div>
  </div>
  <app-adduser></app-adduser>
</div>


